:root {
  --background: #f5fff5dd;
  --backgroundFocus: #edfde9cd;
  --accent: #f24343;
  --secondAccent: #c8303d;
  --secondary: #64cb41;
  --textMain: #3a7427;
  --border: var(--textMain);
}

@font-face {
  font-family: Nunito; /* set name */
  src: url("/src/assets/fonts/Nunito.ttf");
}

#StopTimer {
  display: none;
}

@keyframes bounce {
  from { 
    transform: translate3d(0, 5, 0);
  }
  to { 
    transform: translate3d(0, -15px, 0);
  }
}

@keyframes bigger {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

img {
  width: 24%;
  margin: 0%;
  padding: 0%;
}

body {
  display: flex;
    flex-direction: column;
    align-items: center;
  user-select: none;
  font-size: 1.6rem;
  text-align: center;
  font-family: Nunito, monospace;
  width: 100vpw;
  height: 100vph;
  font-weight: 600;
  color: var(--textMain);
  background: linear-gradient(0, var(--backgroundFocus), var(--background));
  background-attachment: fixed;
  h1 {
    font-size: 1.4rem;
    font-weight: 900;
  }

  header {
    padding: 0;
    user-select: none;
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 0;
    #titlebar {
      width: 100%;
    }
    button {
      border-radius: 0.9em;
      margin: 2px 8px;
      padding: 5px 15px;
      height: min-content;
      width: min-content;
      font-weight: 800;
      &:active { 
      border-top-width: 0.3em;
      }
      &#titlebar-close {
        border-color: var(--secondAccent);
        background: linear-gradient(0, var(--accent), var(--accent), var(--backgroundFocus));      
      }
    }
  
  }
  main {
    position: fixed;
    top: 2em;
    border-radius: 0.2em;
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    align-items: center;
    .Timer {
      background-color: var(--backgroundFocus);
      padding: 16px;
      width: 12em;
      height: min-content;
      border-radius: 0.8rem;
      border: 1px solid var(--border);
      box-shadow: 0px 0px 0px 2px var(--backgroundFocus);
    }
  }

  span {
    font-size: 2.4rem;
    font-weight: 900;
    display: block;
    padding: 0.2em 0;
  }

  button, input {
    background: linear-gradient(0, var(--secondary), var(--secondary), var(--backgroundFocus));
    color: var(--backgroundFocus);
    font-weight: 800;
    font-family: Nunito, monospace;
    background-color: var(--secondary);
    border: none;
    font-size: 1.2rem;
    padding: 0.2em 0.8em;
    border-radius: 0.6em;
    border: 2px solid var(--border);
    border-bottom-width: 0.3em;
    box-shadow: inset 0px 0px 0px 0.1em var(--backgroundFocus), 0px 0px 0px 0.1em var(--backgroundFocus);
    &[type=number] {
      margin: 0.2em 0;
      background: var(--background);
      color: var(--textMain);
      border-bottom-width: 2px;
    }

    &.TimerSettings {
      font-size: 1.2rem;
      width: 2em;
      margin-right: 4px;
    }

    &:active {
      border: 2px solid var(--border);
      border-bottom-width: 1px;
    }
    &:hover {
      animation: bigger 0.2s ease-in;
      transform: scale(1.1);
    }
  }
  
}

label {
  font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}