:root {
  --background: #ebeeea;
  --backgroundFocus: #fbfefa;
  --accent: #f24343;
  --secondary: #64cb41;
  --textMain: #6a9d5b;
  --border: var(--textMain);
}

@font-face {
  font-family: Nunito; /* set name */
  src: url("/src/assets/fonts/Nunito.ttf");
}

#StopTimer {
  display: none;
}

@keyframes bounce {
  from { transform: translate3d(0, 5, 0);}
  to { transform: translate3d(0, -15px, 0);}
}

@keyframes bigger {
  from { transform: scale(1);}
  to { transform: scale(1.1);}
}

#Tomato {
  &:hover {
    animation: bigger 0.8s alternate infinite;
  }
}

img {
  width: 22%;
  margin: 0%;
  padding: 0%;
}

body {
  display: flex;
    flex-direction: column;
    align-items: center;
  user-select: none;
  font-size: 1.6rem;
  text-align: center;
  font-family: Nunito, monospace;
  width: 100vpw;
  height: 100vph;
  font-weight: 600;
  background-color: var(--background);
  color: var(--textMain);

  h1 {
    font-size: 1.4rem;
    font-weight: 900;
  }

  header {
    padding: 2px;
    user-select: none;
    display: flex;
    justify-content: end;
    width: 100%;
    #titlebar {
      width: 100%;
    }
    button {
      margin: 2px 8px;
      height: min-content;
      width: min-content;
      font-weight: 800;
    }
  }
  main {
    border-radius: 0.2em;
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    align-items: center;
    .Timer {
      background-color: var(--backgroundFocus);
      padding: 16px;
      width: 12em;
      height: min-content;
      border-radius: 0.8rem;
      border: 1px solid var(--border);
      border-bottom-width: 6px;
      box-shadow: 0px 0px 0px 2px var(--backgroundFocus);
    }
  }

  span {
    font-size: 2.4rem;
    font-weight: 900;
    display: block;
    padding: 0.2em 0;
  }

  button, input {
    color: var(--backgroundFocus);
    font-weight: 800;
    font-family: Nunito, monospace;
    background-color: var(--secondary);
    border: none;
    font-size: 1.2rem;
    padding: 0.2em 0.8em;
    border-radius: 0.6em;
    border: 2px solid var(--border);
    border-bottom-width: 4px;
    box-shadow: 0px 0px 0px 2px var(--backgroundFocus);
    &[type=number] {
      background-color: var(--backgroundFocus);
      color: var(--textMain);
    }

    &.TimerSettings {
      font-size: 1.2rem;
      width: 2em;
      margin-right: 4px;
    }

    &:active {
      border: 2px solid var(--border);
      border-bottom-width: 1px;
    }
    &:hover {
      animation: bigger 0.2s ease-in;
      transform: scale(1.1);
    }
  }
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}